@import url('https://db.onlinewebfonts.com/c/574e5b8318e53b92bdb78209bd03fc72?family=Dynamo+W04+Bold+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --fuente-encabezados: "Dynamo W04 Bold Condensed", sans-serif;
  --fuente-general: "Manrope";
  font-family: 'Manrope', sans-serif;

  --color0: #36539b;
  --color1: #0850ae;
  --color2: #277FF2;
  --color3: #7EB0F2;
  --color4: #38BDF2;
  --color5: #F2F2F2;
  --fondo-logo: #f7f7f7;


  --titulos_color: var(--color0);
  --texto_color: var(--color0);



  /* 
      --fuente-encabezados :'Megrim', cursive;
       --fuente-encabezados: 'Press Start 2P', cursive;
       --fuente-encabezados: 'Rubik', sans-serif;
       --fuente-encabezados: 'Rubik Moonrocks', cursive;
       --fuente-encabezados: 'Rubik Vinyl', cursive;
        */
  line-height: 1.5em;
  transition: 1s;
}

body {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  color: var(--texto_color);
  font-family: var(--fuente-general);
  /* Gradiente */
  background: rgb(7, 109, 242);
  background: linear-gradient(180deg, rgba(7, 109, 242, 1) 0%, rgba(167, 199, 242, 1) 20%, rgba(242, 242, 242, 1) 100%, rgba(7, 109, 242, 1) 100%);
}

header {
  background-color: var(--fondo-logo);
  padding: 20px;
  text-align: center;
  font-size: 2em;
  font-family: var(--fuente-encabezados);
  font-family: "Dynamo W04 Bold Condensed", sans-serif;
}

nav,
footer {
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fondo-logo);
  color: var(--color1);
  padding: 10px 20px;
  font-size: 1.5rem;
}



/* Estilos para la lista de navegación */
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Estilos para cada ítem del menú */
ul li {
  margin-left: 20px;
}

/* Estilos para los enlaces */
ul li a {
  color: var(--color1);
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

nav>ul {
  display: flex;
  flex-direction: row;
}

nav li {
  list-style: none;
}

main {
  flex: 1;
  padding: 20px;

  text-align: center;
}

nav a {
  color: var(--color1);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

header .logo-ppal {
  width: 50%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fuente-encabezados);
}


.texto-con-borde {
  color: --color0; /* Color de relleno del texto */
  text-shadow:
      -1px -1px 0 --color0,  
       1px -1px 0 --color0,
      -1px 1px 0 --color0,
       1px 1px 0 --color0;
}
.boton {
  display: inline-block;
  padding: 10px 20px;
  /*background-color: #007bff;
  */
  color: var(--color0);
  text-decoration: none;
  border-radius: 2rem;
  font-size: 2rem;
  border: 2px solid var(--color0);
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--fuente-encabezados);
  margin: 1.5rem;
}

.boton:hover {
  background-color: #0056b3;
  /* Color de fondo al pasar el mouse */
}



footer{
  display: flex;
  flex-direction: row;
}
footer .colaboran {
  display: flex;
  flex-direction: column;
}

footer .colaboran .colaboradores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer  img {
  max-width: 6rem;
}




