@import url("tema.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5em;
  transition: 1s;
}

body {

  min-width: 320px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;

  color: var(--texto_color);
  font-family: var(--fuente-general);
  /* Gradiente */
  background: rgb(7, 109, 242);
  background: linear-gradient(180deg, rgba(7, 109, 242, 1) 0%, rgba(167, 199, 242, 1) 20%, rgba(242, 242, 242, 1) 100%, rgba(7, 109, 242, 1) 100%);
}
/* 
header {
  background-color: var(--fondo-logo);
  padding: 20px;
  text-align: center;
  font-size: 2em;
  font-family: var(--fuente-encabezados);
  font-family: "Dynamo W04 Bold Condensed", sans-serif;
}
 */
nav,
footer {
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--fondo-logo);
  color: var(--color1);
  padding: 10px 20px;
  font-size: 1.5rem;
}



main {
  flex: 1;
  padding: 20px;

  text-align: center;
}

nav a {
  color: var(--color1);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

header .logo-ppal {
  width: 50%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fuente-encabezados);
}

.texto {
  line-height: 1.5em;
  text-align: justify;
  padding: 1rem;
}

.texto-con-borde {
  color: --color0; /* Color de relleno del texto */
  text-shadow:
      -1px -1px 0 --color0,  
       1px -1px 0 --color0,
      -1px 1px 0 --color0,
       1px 1px 0 --color0;
}
.boton {
  display: inline-block;
  padding: 10px 20px;
  /*background-color: #007bff;
  */
  color: var(--color0);
  text-decoration: none;
  border-radius: 2rem;
  font-size: 2rem;
  border: 2px solid var(--color0);
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--fuente-encabezados);
  margin: 1.5rem;
}

.boton:hover {
  background-color: #0056b3;
  color: var(--fondo-logo);
  /* Color de fondo al pasar el mouse */
}


img.logo_para_texto {
  margin: 3rem;
  width: 50%;
}


.llamada_accion {
  background-color: var(--fondo-logo);
  font-weight: bold;
  padding: 2rem;
}

.llamada_accion p {
  margin-top: 1.5em;
}


footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

footer .organiza {
  flex: 30%;
}

footer .colaboran {
  flex: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

footer .colaboran .colaboradores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* footer .colaboradores1 .colaboradores2 {} */

footer  img {
  max-width: 6rem;
}

footer p {
  padding: 2rem;
}


.centrado {
  text-align: center;
}




/* BURBUJA  */

.comic-bubble, .cb-izqda, .cb-dcha {
  position: relative;
  background-color: var(--fondo-logo); /* Color de fondo */
  border-radius: 30px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  width: 90%; /* Ancho del bocadillo */
  text-align: center; /* Alineación del texto */
  font-family: Arial, sans-serif; /* Tipo de fuente */
  /* Ajusta los siguientes estilos según sea necesario */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  margin: 40px; /* Margen para visualización */
}

.comic-bubble::after, .cb-izqda::after  {
  content: "";
  position: absolute;
  top: 100%; /* Posiciona en la parte inferior del bocadillo */
  left: 45px; /* Alinea a la izquierda */
  margin-left: -10px; /* Ajuste para alinear la "cola" */
  border-width: 25px; /* Tamaño de la "cola" */
  border-style: solid;
  border-color: var(--fondo-logo) transparent transparent transparent;

  /* Explicación de border-color:
     transparent: lados izquierdo y derecho
     #f0f0f0: borde inferior (color igual al fondo del bocadillo)
     transparent: borde superior */
}

.cb-izqda::after {
  left: 50px; /* Alinea a la izquierda */
  margin-left: -10px; /* Ajuste para alinear la "cola" */
}

.cb-dcha::after  {
  content: "";
  position: absolute;
  top: 100%; /* Posiciona en la parte inferior del bocadillo */
  right: 40px; /* Alinea a la izquierda */
  margin-left: -10px; /* Ajuste para alinear la "cola" */
  border-width: 25px; /* Tamaño de la "cola" */
  border-style: solid;
  border-color: var(--fondo-logo) transparent transparent transparent;
}

.cuerpo {
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto 0 auto;
}